body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}

.title {
    background-color: #f0f8ff;
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    color: #1d3557;
    padding: 10px 0;
    margin: 0;
}

.navbar {
    background-color: #1d3557;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.navbar .home {
    display: flex;
    align-items: center;
}

.navbar .home img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.navbar .home button {
    color: white;
    font-size: 18px;
    background: none;
    border: none;
    text-decoration: none;
    margin-left: 30px;
    cursor: pointer;
    transition: transform 0.3s;
}

.navbar .home button:hover {
    transform: scale(1.1); /* 輕微放大 */
}

.navbar .navbar-links {
    display: flex;
    align-items: center;
}

.navbar .search-bar {
    display: flex;
    align-items: center;
}

.navbar .search-bar input {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 5px;
}

.navbar .search-bar button #productOverviewButton #buyerPreviewButton{
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s; /* 增加放大效果 */
}

.navbar .search-bar button img {
    width: 24px;
    height: 24px;
}

.navbar .search-bar button:hover {
    transform: scale(1.1); /* 搜尋按鈕輕微放大 */
}

/* 主要內容 */
.main-content {
    text-align: center;
    padding: 30px;
}

.main-content img {
    max-width: 65%;
    height: auto;
}
button { background: none; border: none; padding: 0; cursor: pointer; } 
button img { display: block;}